body {
    background-color: gold;
    color: gold;
    font-family: 'Do Hyeon', sans-serif;
    background-image: url("./../images/bitcoin2.jpg");
    background-repeat: repeat; 
    background-size: 100%;
}